body{
    background: url(../Imagenes/FondoRegistroConSombra.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    height: auto;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin-left: 600px;
}

h1{
    color: #000000;
    margin: 0;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 15px;
    font-weight: 100;
}

.contenedor-registro {
    display: block;
    margin-left: 20px;
}

.registro-form{
    padding: 20px;
    margin: 0;
    /*background-color: #f6f7fa;*/
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
}

.form-input {
    width: 480px;
    margin-bottom: 20px;
}

input{
    box-sizing: border-box;
    border: none;
    border: 1px solid #666;
    border-radius: 2px;
    background-color: transparent;
    width: 100%; /* Los inputs también ocuparán el 100% del ancho de su contenedor padre */
    box-sizing: border-box; /* Para incluir el padding dentro del ancho total */
    padding: 10px 20px; /* Ajusta el espacio interno de los inputs */
    font-size: 18px;
    margin-top: 5px;
}


img{
    align-items: center;
    display: block;
    margin: 0 auto;
    height: 100px;
    max-width: 200px;
    margin-bottom: 20px;
}

p{
    color: #000000;
    margin: 0;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

a{
    color: #000;    
    font-size: 16px;
}

button{
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 2px;
}